@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans JP", sans-serif;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(230, 230, 230);

}

/*links*/
div a {
    width: 120px;
    background-color: #fff;
    padding: 10px;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    transition: all 0.02s;

    
    text-decoration: none;
}


.div-sedans a {
    color: #E06907;
}

.div-sedans a:hover{
    border: solid 3px #863c00;
}

.div-suvs a {
    color: #451DE0;
}

.div-suvs a:hover {
    border: solid 3px #1c008a;
}

.div-luxury a {
    color: #280C94;
}

.div-luxury a:hover{
    border: solid 3px #0f0049;
}


body div {
    width: 75vw;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    

    color: white;
}

body div header,
body div main,
body div footer {
    margin-left: 32px;
    margin-right: 32px;
}

body div img {
    width: 50px;
}



.div-sedans{
    margin-top: 60px;

    background-color: #E06907;
}

.div-suvs {
    background-color: #451DE0;
}

.div-luxury {
    margin-bottom: 60px;

    background-color: #280C94;
}

@media (min-width: 768px) {
    
    body {
        width: 100%;
        height: 100%;

        background-color: rgb(230, 230, 230);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-sedans {
        margin-top: 0;
    }
    .div-luxury {
        margin-bottom: 0;
    }

    #main {
        width: 100vw;
        height: 100vh;
        background-color: rgb(230, 230, 230);

        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
    }

    #main div {
        width: 25%;
    }


}